.openList {
  .openList_content {
    padding-bottom: 20px;
    background-color: #fff;
    margin: 15px 30px;
    padding: 20px;
    .openList_content_form {
      margin-bottom: 15px;
      .ant-form-inline .ant-form-item {
        margin-bottom: 10px;
      }
      .openList_content_action {
        display: inline-flex;
        align-items: center;
        justify-self: flex-start;
        .action_item {
          &:not(:nth-child(1)) {
            margin: 0px 10px;
          }
        }
      }
    }
    .openList_page {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 15px;
    }
  }
}
